@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: #141B42;
}

.gradient-text {
    background: linear-gradient(to right, #2783FF, #B345FF, #F549FF); /* Ton dégradé ici */
    -webkit-background-clip: text; /* Pour Safari */
    -webkit-text-fill-color: transparent; /* Remplissage transparent pour masquer le fond */
  }

